#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#card{
    background-color:  #1D1C1F;
    color: #DDDAE5;
    border-radius: 28px;
    padding: 20px;
    width: 450px;
    /* max-width: 400px; */
    margin: 3% 0 3% 0;
    height: 350px;
}
#long-card{
    /* background-color:  #1D1C1F; */
    color: #DDDAE5;
    border-radius: 28px;
    padding: 20px;
    /* max-width: 400px; */
     /* border: 1px solid red; */
    margin: 3% 0 3% 0;
}
#highlights{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}
#humidity{
    font-size: 30px;
}
#long-card{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
}
#short-card{
    background-color:  #2b2a2e;
    padding: 30px;
    background-color:  #1D1C1F;
    border-radius: 28px;
    width: 30%;
}
#temperature{
    font-size: 5.6rem;
    color: white;
    /* line-height: 1.1; */
}
hr{
    /* color: #3E3D40; */
    margin: 5% 0 5% 0;
}
#wrapper{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: 10px 0 10px 0;
}
#error{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 80vh;
    flex-direction: column;
}

@media all and (min-width: 950px) and (max-width: 1100px) {
    #card{
        width: 400px;
    }
    #highlights{
        width: 100%;    
    }
}
@media all and (min-width: 500px) and (max-width: 950px) {
   #main{
    flex-direction: column;
   }
   #long-card{
        justify-content: center;
        align-items: center;
        flex-direction: column;  

        gap: 20px;  
    }
    #short-card{
        width: 450px;    
    }
    
    #highlights{
        width: 100%;    
    }
}
@media all and (max-width: 500px) {
    #main{
     flex-direction: column;
    }
    #card{
        max-width: 330px;
    }
    #long-card{
        justify-content: center;
        align-items: center;
        flex-direction: column;  

        gap: 20px;  
    }
    #short-card{
        width: 330px;    
    }
    
    #highlights{
        width: 100%;    
    }

 }